In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format='retina'

In [2]:
store = pd.read_csv('data/store.csv', index_col = 0)
train = pd.read_csv('data/train.csv', index_col = 0)
test = pd.read_csv('data/test.csv', index_col = 0)

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
from help import BOW, data_preprocess

store_pre, Bow_Matrix = BOW(Data=store)

Data = data_preprocess(train.drop(['Sales','Customers'], axis=1),
                       extend_data=store_pre, BOW_key = Bow_Matrix.columns)
display(Data.head())


Data_test = data_preprocess(test.drop('Id', axis=1),
                            extend_data=store_pre, BOW_key = Bow_Matrix.columns)
Data_test[['StateHoliday_b', 'StateHoliday_c']] = pd.DataFrame(np.zeros((len(test),2)), 
                                                               columns=['StateHoliday_b', 'StateHoliday_c'], 
                                                               dtype='uint8')
display(Data_test.head())

,Store,Month,Day,Year,DayOfWeek,Season,Open,SchoolHoliday,CompetitionDistance,CompetitionOpenTime,...,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
0,1,7,31,2015,5,3,1,1,1270.0,88.0,...,0,1,0,1,0,0,1,0,0,0
1,2,7,31,2015,5,3,1,1,570.0,98.0,...,0,0,0,1,0,0,1,0,0,0
2,3,7,31,2015,5,3,1,1,14130.0,109.0,...,0,0,0,1,0,0,1,0,0,0
3,4,7,31,2015,5,3,1,1,620.0,76.0,...,0,1,0,0,0,1,1,0,0,0
4,5,7,31,2015,5,3,1,1,29910.0,9.0,...,0,0,0,1,0,0,1,0,0,0

,Store,Month,Day,Year,DayOfWeek,Season,Open,SchoolHoliday,CompetitionDistance,CompetitionOpenTime,...,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
0,1,9,17,2015,4,3,1,0,1270.0,88.0,...,0,1,0,1,0,0,1,0,0,0
1,3,9,17,2015,4,3,1,0,14130.0,109.0,...,0,0,0,1,0,0,1,0,0,0
2,7,9,17,2015,4,3,1,0,24000.0,33.0,...,0,0,0,0,0,1,1,0,0,0
3,8,9,17,2015,4,3,1,0,7520.0,15.0,...,0,0,0,1,0,0,1,0,0,0
4,9,9,17,2015,4,3,1,0,2030.0,185.0,...,0,0,0,0,0,1,1,0,0,0